/*TODO make global variable for color*/
:root {
    --top-bar_bck: #14171c;
    --separetor-color: #232832; /* TODO make this green maybe a fallout style terminal for game or in blue?*/
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--top-bar_bck);
    border-bottom: var(--separetor-color);
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px; /* TODO change for something dynamic ? */
    height: 100dvh;
    background: #0f1115; /* TODO make a universal background color? */
    border-right: 2px solid var(--separetor-color);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
}
.side-menu.hidden {
    transform: translateX(-100%);
}